<!DOCTYPE html>
<html lang="cs">
<head>

    <meta charset="UTF-8">

    <title>Výukový portál</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='menu.css') }}">

</head>

<body>
<div class="container">

    <h1>🎓 Výukový portál</h1>

    <div class="menu">

        <a href="/matematika">
            <button>📘<br>Matematika</button>
        </a>

        <a href="/ucetnictvi">
            <button>💰<br>Účetnictví</button>
        </a>

        <a href="/mzdy">
            <button>📄<br>Mzdy</button>
        </a>

        <a href="/nsn">
            <button>🧮<br>NSN</button>
        </a>

        <a href="/scitani">
            <button>➕<br>Sčítání</button>
        </a>

        <a href="/odcitani">
            <button>➖<br>Odčítání</button>
        </a>
        <a href="/gastro">
            <button>🍔<br>Gastro Escape</button>
        </a>

    </div>

</div>