<!DOCTYPE html>
<html lang="cs">
<head>

    <meta charset="UTF-8">

    <title>Výukový portál</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='menu.css') }}">

</head>

<body>
<div class="container">

    <h1>🎓 Výukový portál</h1>

    <div class="menu">

        <a href="/ucetnictvi">
            <button>💰<br>Účetnictví</button>
        </a>

        <a href="/mzdy">
            <button>📄<br>Mzdy</button>
        </a>

        <a href="/nsn">
            <button>🧮<br>NSN</button>
        </a>

        <a href="/scitani">
            <button>➕<br>Sčítání</button>
        </a>

        <a href="/odcitani">
            <button>➖<br>Odčítání</button>
        </a>
        <a href="/restaurace">
            <button>🍽️<br>Příběh z restaurace</button>
        </a>
        <a href="/rovnice">
            <button>📘<br>Rovnice</button>
        </a>
        <a href="/rovnicejmenovatel">
            <button>➗<br>Rovnice se jmenovatelem</button>
        </a>

        <a href="/soustava">
            <button>✖️<br>Soustava rovnic</button>
        </a>

        <a href="/ucitel">
            <button>👨‍🏫<br>Příběh učitele</button>
        </a>

        <a href="/algebra">
            <button>🧮<br>Algebraické úpravy</button>
        </a>
        <a href="/intervaly">
            <button>📏<br>Intervaly</button>
        </a>

        <a href="/nerovnice">
            <button>⚖️<br>Nerovnice</button>
        </a>
    </div>

</div>
