<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Výukový portál</title>
</head>
<body>

    <h1>Výukový portál</h1>

    <a href="/matematika">
        <button>Matematika</button>
    </a>
    <a href="/ucetnictvi/">
        <button>Účetnictví</button>
    </a>
    <a href="/dane/">
        <button>Mzdy</button>
    </a>
    <a href="/nsn">
        <button>NSN</button>
    </a>
    <a href="/scitani">
        <button>SČÍTÁNÍ</button>
    </a>
    <a href="/odcitani">
        <button>ODČÍTÁNÍ</button>
    </a>
</body>
</html>